<h1 class="text-3xl font-semibold text-center mb-6">{{ user.name || 'No disponible' }}</h1>

<!-- Mensaje de error -->
@if (error) {
<p class="text-red-500 text-center">{{ error }}</p>
} @else {
@if (user) {
<div class="flex flex-col sm:flex-row justify-around items-center gap-16 p-6 w-screen">

    <!-- Información del usuario -->
    <div class="flex flex-col gap-6 max-w-md text-gray-800 dark:text-gray-200">
        <p class="font-semibold text-lg">Usuario: <span class="font-normal">{{ user.login }}</span></p>
        <p class="font-semibold text-lg">Bio: <span class="font-normal">{{ user.bio || 'Sin biografía' }}</span></p>
        <p class="font-semibold text-lg">Ubicación: <span class="font-normal">{{ user.location || 'No especificada'
                }}</span></p>
        <p class="font-semibold text-lg">Repos públicos: <span class="font-normal">{{ user.public_repos }}</span></p>
        <p class="font-semibold text-lg">Seguidores: <span class="font-normal">{{ user.followers }}</span> |
            <span class="font-semibold">Siguiendo: </span> <span class="font-normal">{{ user.following }}</span>
        </p>
    </div>

    <!-- Imagen de perfil -->
    <div class="flex justify-center items-center mt-6 sm:mt-0">
        <img [src]="user.avatar_url" alt="Avatar de usuario"
            class="rounded-full w-72 h-72 shadow-lg border-2 border-gray-300 dark:border-gray-600" />
    </div>
</div>
} @else {
<p class="text-center text-gray-500">Cargando datos...</p>
}
}