<div class="flex flex-col w-full max-w-sm mx-auto p-6 bg-gray-800 rounded-xl shadow-md text-white">

    <!-- Mostrar login -->
    <app-login [hidden]="!isLoginVisible"></app-login>

    <!-- Mostrar register -->
    <app-register [hidden]="isLoginVisible"></app-register>

    <!-- Botones -->
    <div class="flex justify-center mt-8 gap-4">
        <button (click)="showLogin()"
            class="px-5 py-2 rounded-full bg-gray-700 text-white hover:bg-gray-600 transition cursor-pointer">
            Iniciar sesión
        </button>
        <button (click)="showRegister()"
            class="px-5 py-2 rounded-full bg-gray-700 text-white hover:bg-gray-600 transition cursor-pointer">
            Registrarse
        </button>
    </div>
</div>