<mat-card class="bg-gray-800 text-white shadow-lg h-96 flex flex-col justify-between">
    <img mat-card-image [src]="image" [alt]="title" class="h-40 object-cover" />

    <div class="bg-gray-800 p-4 flex-grow">
        <h2 class="text-xl font-semibold mt-2">{{ title }}</h2>
        <p class="text-gray-300 mt-1">{{ description }}</p>
    </div>

    <mat-card-actions class="bg-gray-800 p-4 pt-0 flex justify-between">
        <!-- Botón Jugar (equivalente a mat-raised-button) -->
        <button class="bg-white text-gray-800 py-2 px-6 rounded-full shadow-lg cursor-pointer"
            [routerLink]="link">Jugar</button>

        <!-- Botón Reglas (equivalente a mat-stroked-button) -->
        <button class="border-2 border-white text-white py-2 px-6 rounded-full cursor-pointer"
            (click)="openRules()">Reglas</button>


    </mat-card-actions>
</mat-card>