<div class="bg-gray-800 rounded-lg shadow-lg flex flex-col items-center border-2
    w-[calc(100vw-4rem)] h-[calc(100vh-8rem)]
    sm:w-[calc(100vw-6rem)] sm:h-[calc(100vh-10rem)]
    md:w-[calc(100vw-10rem)] md:h-[calc(100vh-12rem)]
    lg:w-[calc(100vw-20rem)] lg:h-[calc(100vh-14rem)]
    relative">

    <!-- Header superior -->
    <div class="flex w-full items-center justify-between p-4 relative">

        <!-- Botones play/pause -->
        <div class="flex items-center gap-2">
            @if (paused) {
            <button (click)="resume()"
                class="border-2 border-white text-white rounded-full p-2 flex items-center justify-center cursor-pointer hover:bg-white hover:border-white hover:text-gray-800 transition">
                <span class="material-icons text-sm">play_arrow</span>
            </button>
            } @else {
            <button (click)="pause()"
                class="border-2 border-white text-white rounded-full p-2 flex items-center justify-center cursor-pointer hover:bg-white hover:border-white hover:text-gray-800 transition">
                <span class="material-icons text-sm">pause</span>
            </button>
            }

            <!-- Botón Salir -->
            <button (click)="requestExit()"
                class="border-2 border-white text-white rounded-full p-2 flex items-center justify-center cursor-pointer hover:bg-white hover:border-white hover:text-gray-800 transition">
                <span class="material-icons text-sm">logout</span>
            </button>
        </div>

        <!-- Timer  -->
        <div class="absolute left-1/2 transform -translate-x-1/2 flex items-center gap-2">
            <span class="material-icons text-white text-xl md:text-2xl">schedule</span>
            <span class="text-lg font-bold text-white md:text-2xl">{{ time }}</span>
        </div>

        <!-- Score  -->
        <div
            class="text-white text-sm md:text-base font-medium opacity-80 border-2 rounded-lg p-2 flex items-center gap-1">
            <span class="material-icons text-white">star</span>
            {{ score }}
        </div>


    </div>

    @if (roundVictory) {
    <!-- Adivinaste la palabra -->
    <div
        class="flex flex-col items-center gap-2 text-white text-sm md:text-base font-medium opacity-90 border-2 border-green-600 rounded-lg p-4 w-[90%] max-w-md mx-auto mt-4 bg-gray-800">
        <h2 class="text-xl md:text-2xl font-bold text-green-500 text-center">¡Correcto, adivinaste!</h2>
        <p class="text-gray-300 text-base md:text-lg text-center">
            La palabra era: <strong class="text-white">{{ word }}</strong>
        </p>
    </div>
    }


    <!-- Contenedor imagenes ahorcado -->
    <div class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 w-full px-4">
        <div class="flex flex-wrap sm:flex-nowrap items-center justify-center gap-4 sm:gap-6 md:gap-10">
            <!-- Imagen del ahorcado -->
            <img [src]="'assets/images/ahorcado/' + (7 - livesArray.length) + '.png'" alt="Estado del Ahorcado"
                class="w-24 h-24 sm:w-32 sm:h-32 md:w-44 md:h-44 rounded-lg" />

            <!-- Palabra -->
            <div class="flex gap-1 sm:gap-2 flex-wrap justify-center">
                @for (char of displayedWord; track $index) {
                <span class="text-white text-2xl sm:text-3xl md:text-4xl font-mono border-b-2 px-1 sm:px-2">
                    {{ char }}
                </span>
                }
            </div>
        </div>
    </div>

    <!-- Letras del teclado -->
    <div class="p-2 sm:p-4 flex flex-col justify-center gap-2 mt-auto w-full">
        @for (row of rowsLetters; track row) {
        <div class="flex justify-center gap-1 sm:gap-2 mb-2 w-full">
            @for (letter of row; track letter) {
            <button (click)="guess(letter)"
                [disabled]="isLetterUsed(letter) || ahorcadoService.isGameOver() || paused || roundVictory" class="w-8 h-8 sm:w-10 sm:h-10 md:w-12 md:h-12 
                               bg-gray-700 hover:bg-gray-600 disabled:opacity-50 disabled:cursor-not-allowed 
                               rounded text-white font-bold text-sm sm:text-base">
                {{ letter }}
            </button>
            }
        </div>
        }
    </div>


    <!-- Mostrar resultado del juego -->
    @if (finished) {
    <app-game-result [isVictory]="victory" [score]="score"
        class="absolute inset-0 z-20 bg-black bg-opacity-80 flex items-center justify-center rounded-lg">
    </app-game-result>
    }



    @if(showConfirmExit()){
    <!-- Modal de confirmación -->
    <app-confirm-dialog title="¿Estás seguro que deseas salir del juego?" message="Perderás la partida en curso."
        (confirm)="confirmExit()" (cancel)="cancelExit()">
    </app-confirm-dialog>
    }

</div>