<div class="space-y-6 bg-gray-800 p-6 rounded-lg">
    <h2 class="text-xl font-semibold text-center text-white">Iniciar sesión</h2>


    <form class="space-y-4" (ngSubmit)="login()">
        <div>
            <label for="email" class="block text-sm font-medium text-gray-300">Correo electrónico</label>
            <input type="email" id="email" placeholder="correo@ejemplo.com" [(ngModel)]="email" name="email"
                class="w-full px-4 py-2 border border-gray-600 bg-gray-700 text-white rounded-lg focus:outline-none focus:ring-1 focus:ring-blue-400"
                required />
        </div>

        <div>
            <label for="password" class="block text-sm font-medium text-gray-300">Contraseña</label>
            <input type="password" id="password" placeholder="Contraseña" [(ngModel)]="password" name="password"
                class="w-full px-4 py-2 border border-gray-600 bg-gray-700 text-white rounded-lg focus:outline-none focus:ring-1 focus:ring-blue-400"
                required />
        </div>

        <button type="submit"
            class="w-full py-2 bg-transparent text-white border border-white rounded-lg hover:bg-white hover:text-gray-900 transition focus:outline-none focus:ring-1 focus:ring-white cursor-pointer">
            Iniciar sesión
        </button>

        <!-- Mensaje de error o éxito -->
        <div *ngIf="message" [ngClass]="isError ? 'bg-red-500' : 'bg-green-500'"
            class="text-white text-center px-4 py-2 rounded-md">
            {{ message }}
        </div>
    </form>
</div>