<footer class="bg-gray-900 text-gray-400 py-6">
    <div class="container mx-auto px-4 flex flex-col md:flex-row justify-between items-center gap-4 text-sm">
        <div class="text-center md:text-left">
            <p>&copy; {{ currentYear }} Sala de Juegos. Todos los derechos reservados.</p>
        </div>

        <div class="flex gap-4">
            <a routerLink="/home" class="hover:text-white transition">Inicio</a>
            <a routerLink="/about" class="hover:text-white transition">Sobre Mi</a>
            <a routerLink="/results" class="hover:text-white transition">Resultados</a>
            @if (user()) {
            <a routerLink="/chat" class="hover:text-white transition">Chat</a>
            }
        </div>
    </div>
</footer>